<div class="d-flex justify-content-end">
  <a href="/admin/postagem/add">
    <button class="btn btn-success">Nova postagem</button>
  </a>
</div>

<h2>Lista de postagens:</h2>
<hr>
{{#each postagens}}
<div class="card mt-2">
  <div class="card-body">
    <h4>{{titulo}}</h4>
    <div class="col-auto d-none d-lg-block">
      <img src="/uploads/{{imagem}}" width="200" height="200" alt="">
    </div>
    <p>{{descricao}}</p>
    <small>{{categoria.nome}}</small><br>
    <small>{{date}}</small><br>
    <div class="mt-2 d-flex gap-2">
      <div class="btn-group">
        <a href="/admin/postagem/edit/{{_id}}">
          <button class="btn btn-success mt-4">Editar</button>
        </a>
      </div>
      <div class="btn-group">
        <form action="/admin/postagem/apagar/{{_id}}" method="post">
          <button type="submit" class="btn btn-danger btn btn-success mt-4">Apagar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <h4>Nenhuma postagem registrada!</h4>
  {{/each}}