<div class="d-flex justify-content-end">

  <a href="/admin/usuario/add">
    <button class="btn btn-success">Novo usúario</button>
  </a>

</div>
<h2>Lista de usúarios:</h2>
<hr>
{{#each usuarios}}
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">{{nome}}</h5>
    <p class="card-text">{{email}}</p>
    <small>{{senha}}</small><br>

    <div class="mt-2 d-flex gap-2">
      <div class="btn-group mt-">
        <a href="/admin/usuario/edit/{{_id}}">
          <button class="btn btn-success btn-sm ">Editar usúario</button>
        </a>
      </div>
      <div class="btn-group">
        <form action="/admin/usuario/apagar/{{_id}}" method="post">
          <button type="submit" class="btn btn-danger btn-sm">Apagar usuário</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{else}}
<h4>Nenhum usuario registrado!</h4>
{{/each}}